In [121]:
import pandas as pd

In [122]:
players = pd.read_csv("players_2015.csv")

In [126]:
players = players.rename(columns = {'Unnamed: 0':'player_id', 'Player':'player_name', 
                                   'Tm':'team_name', 'Pos':'player_position',
                                   'BLK':'block','TRB':'rebounds','AST':'assists','STL':'steals',
                                    '2P%':'twopoint_shot_percentage','3P%':'threepoint_shot_percentage'
                                    ,'PER':'points_per_game'
                                
                                    })

In [127]:
players.columns

Index(['player_id', 'Year', 'player_name', 'player_position', 'Age',
       'team_name', 'G', 'GS', 'MP', 'points_per_game', 'TS%', '3PAr', 'FTr',
       'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS',
       'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', 'threepoint_shot_percentage', '2P', '2PA', 'PA',
       'twopoint_shot_percentage', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'rebounds', 'assists', 'steals', 'block', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [128]:
Players = players[['player_id','player_name', 'player_position','team_name','threepoint_shot_percentage',
                  'twopoint_shot_percentage','rebounds', 'assists', 'steals', 'block','points_per_game']]

In [129]:
Players #å·®height, weight, salary, start_year

,player_id,player_name,player_position,team_name,threepoint_shot_percentage,twopoint_shot_percentage,rebounds,assists,steals,block,points_per_game
0,23312,Chris Paul,PG,LAC,0.398,0.523,376,838,156,15,26.0
1,23114,James Harden,SG,HOU,0.375,0.480,459,565,154,60,26.7
2,23000,Stephen Curry,PG,GSW,0.443,0.528,341,619,163,16,28.0
3,23012,Anthony Davis,PF,NOP,0.083,0.540,696,149,100,200,30.8
4,23148,Kyrie Irving,PG,CLE,0.415,0.491,237,389,114,20,21.5
...,...,...,...,...,...,...,...,...,...,...,...
646,23318,Kendrick Perkins,C,TOT,0.000,0.451,320,51,16,42,7.0
647,23117,Gary Harris,SG,DEN,0.204,0.395,64,29,39,7,4.9
648,22966,Michael Carter-Williams,PG,TOT,0.235,0.428,353,442,111,30,14.1
649,22967,Michael Carter-Williams,PG,PHI,0.256,0.412,254,302,60,18,12.8
650,23421,Lance Stephenson,SG,CHO,0.171,0.425,277,240,38,8,8.8

In [130]:
player_all = pd.read_csv('Players_all.csv')

In [131]:
Players = Players.merge(player_all, how = 'left', left_on='player_name', right_on='Player')

In [132]:
Players = Players.drop(['Unnamed: 0','Player','collage','born','birth_city','birth_state',
              'Unnamed: 8','Unnamed: 9'], axis = 1)

In [133]:
Players

,player_id,player_name,player_position,team_name,threepoint_shot_percentage,twopoint_shot_percentage,rebounds,assists,steals,block,points_per_game,height,weight
0,23312,Chris Paul,PG,LAC,0.398,0.523,376,838,156,15,26.0,183.0,79.0
1,23114,James Harden,SG,HOU,0.375,0.480,459,565,154,60,26.7,196.0,99.0
2,23000,Stephen Curry,PG,GSW,0.443,0.528,341,619,163,16,28.0,190.0,86.0
3,23012,Anthony Davis,PF,NOP,0.083,0.540,696,149,100,200,30.8,206.0,97.0
4,23148,Kyrie Irving,PG,CLE,0.415,0.491,237,389,114,20,21.5,190.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,23318,Kendrick Perkins,C,TOT,0.000,0.451,320,51,16,42,7.0,208.0,122.0
647,23117,Gary Harris,SG,DEN,0.204,0.395,64,29,39,7,4.9,193.0,95.0
648,22966,Michael Carter-Williams,PG,TOT,0.235,0.428,353,442,111,30,14.1,198.0,86.0
649,22967,Michael Carter-Williams,PG,PHI,0.256,0.412,254,302,60,18,12.8,198.0,86.0
650,23421,Lance Stephenson,SG,CHO,0.171,0.425,277,240,38,8,8.8,196.0,104.0

In [134]:
player_start =  pd.read_csv('player_data.csv')

In [135]:
player_start[['name','year_start']]

                     name  year_start
0          Alaa Abdelnaby        1991
1         Zaid Abdul-Aziz        1969
2     Kareem Abdul-Jabbar        1970
3      Mahmoud Abdul-Rauf        1991
4       Tariq Abdul-Wahad        1998
...                   ...         ...
4545           Ante Zizic        2018
4546             Jim Zoet        1983
4547            Bill Zopf        1971
4548          Ivica Zubac        2017
4549           Matt Zunic        1949

[4550 rows x 2 columns]

In [136]:
Players = Players.merge(player_start[['name','year_start']],how = 'left', left_on = 'player_name',
                       right_on = 'name')

In [137]:
salary = pd.read_html('https://github.com/AddisonGauss/NbaData2015-2016/blob/master/nbasalaries.csv')

In [138]:
salary = salary[0]

In [139]:
salary['salary'] = salary['SALARY'].apply(lambda x: int(x.replace('$','').replace(',','')))

In [140]:
salary

,Unnamed: 0,Unnamed: 1,RK,Player,TEAM,SALARY,salary
0,NaN,0,1,Kobe Bryant,Los Angeles Lakers,"$25,000,000",25000000
1,NaN,1,2,LeBron James,Cleveland Cavaliers,"$22,970,500",22970500
2,NaN,2,3,Carmelo Anthony,New York Knicks,"$22,875,000",22875000
3,NaN,3,4,Dwight Howard,Houston Rockets,"$22,359,364",22359364
4,NaN,4,5,Chris Bosh,Miami Heat,"$22,192,730",22192730
...,...,...,...,...,...,...,...
415,NaN,415,416,Orlando Johnson,Phoenix Suns,"$55,722",55722
416,NaN,416,417,Phil Pressey,Phoenix Suns,"$55,722",55722
417,NaN,417,418,Elliot Williams,Memphis Grizzlies,"$55,722",55722
418,NaN,418,419,Cory Jefferson,Phoenix Suns,"$49,709",49709
419,NaN,419,420,Thanasis Antetokounmpo,New York Knicks,"$30,888",30888

In [141]:
Players = Players.merge(salary[['salary','Player']],how = 'left', left_on = 'player_name',
                       right_on = 'Player')

In [142]:
Players

,player_id,player_name,player_position,team_name,threepoint_shot_percentage,twopoint_shot_percentage,rebounds,assists,steals,block,points_per_game,height,weight,name,year_start,salary,Player
0,23312,Chris Paul,PG,LAC,0.398,0.523,376,838,156,15,26.0,183.0,79.0,Chris Paul,2006.0,21468695.0,Chris Paul
1,23114,James Harden,SG,HOU,0.375,0.480,459,565,154,60,26.7,196.0,99.0,James Harden,2010.0,15756438.0,James Harden
2,23000,Stephen Curry,PG,GSW,0.443,0.528,341,619,163,16,28.0,190.0,86.0,Stephen Curry,2010.0,11370786.0,Stephen Curry
3,23012,Anthony Davis,PF,NOP,0.083,0.540,696,149,100,200,30.8,206.0,97.0,Anthony Davis,2013.0,7070730.0,Anthony Davis
4,23148,Kyrie Irving,PG,CLE,0.415,0.491,237,389,114,20,21.5,190.0,87.0,Kyrie Irving,2012.0,16407501.0,Kyrie Irving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,23318,Kendrick Perkins,C,TOT,0.000,0.451,320,51,16,42,7.0,208.0,122.0,Kendrick Perkins,2004.0,NaN,NaN
661,23117,Gary Harris,SG,DEN,0.204,0.395,64,29,39,7,4.9,193.0,95.0,Gary Harris,2015.0,1584480.0,Gary Harris
662,22966,Michael Carter-Williams,PG,TOT,0.235,0.428,353,442,111,30,14.1,198.0,86.0,Michael Carter-Williams,2014.0,2399040.0,Michael Carter-Williams
663,22967,Michael Carter-Williams,PG,PHI,0.256,0.412,254,302,60,18,12.8,198.0,86.0,Michael Carter-Williams,2014.0,2399040.0,Michael Carter-Williams
664,23421,Lance Stephenson,SG,CHO,0.171,0.425,277,240,38,8,8.8,196.0,104.0,Lance Stephenson,2011.0,9000000.0,Lance Stephenson

In [143]:
Players['salary'].fillna((Players['salary'].mean()), inplace=True)

In [144]:
import math
Players['year_start'].fillna((math.floor(Players['year_start'].mean())), inplace=True)

In [145]:
Players = Players.drop(['name', 'Player'], axis = 1)

In [146]:
Players.rename(columns = {'year_start':'start_year'})

,player_id,player_name,player_position,team_name,threepoint_shot_percentage,twopoint_shot_percentage,rebounds,assists,steals,block,points_per_game,height,weight,start_year,salary
0,23312,Chris Paul,PG,LAC,0.398,0.523,376,838,156,15,26.0,183.0,79.0,2006.0,2.146870e+07
1,23114,James Harden,SG,HOU,0.375,0.480,459,565,154,60,26.7,196.0,99.0,2010.0,1.575644e+07
2,23000,Stephen Curry,PG,GSW,0.443,0.528,341,619,163,16,28.0,190.0,86.0,2010.0,1.137079e+07
3,23012,Anthony Davis,PF,NOP,0.083,0.540,696,149,100,200,30.8,206.0,97.0,2013.0,7.070730e+06
4,23148,Kyrie Irving,PG,CLE,0.415,0.491,237,389,114,20,21.5,190.0,87.0,2012.0,1.640750e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,23318,Kendrick Perkins,C,TOT,0.000,0.451,320,51,16,42,7.0,208.0,122.0,2004.0,5.201763e+06
661,23117,Gary Harris,SG,DEN,0.204,0.395,64,29,39,7,4.9,193.0,95.0,2015.0,1.584480e+06
662,22966,Michael Carter-Williams,PG,TOT,0.235,0.428,353,442,111,30,14.1,198.0,86.0,2014.0,2.399040e+06
663,22967,Michael Carter-Williams,PG,PHI,0.256,0.412,254,302,60,18,12.8,198.0,86.0,2014.0,2.399040e+06
664,23421,Lance Stephenson,SG,CHO,0.171,0.425,277,240,38,8,8.8,196.0,104.0,2011.0,9.000000e+06

In [4]:
import pandas as pd
Players = pd.read_csv('Tables/Players.csv')

In [5]:
Players['points_per_game'] = abs(Players['points_per_game'])

In [6]:
Players.to_csv('Tables/Players2.csv')

# Player to team

In [159]:
# team_short = team_short[0].append([['CHO','Charlotte Hornets']])

In [170]:
# Players = Players.merge(team_short, how = 'left', left_on = 'team_name', right_on = 0)

In [165]:
# Players['team_name'].unique()

array(['LAC', 'HOU', 'GSW', 'NOP', 'CLE', 'CHI', 'OKC', 'POR', 'DAL',
       'DEN', 'UTA', 'TOR', 'MEM', 'TOT', 'ATL', 'SAS', 'SAC', 'BRK',
       'LAL', 'ORL', 'BOS', 'WAS', 'PHO', 'DET', 'MIA', 'IND', 'MIN',
       'MIL', 'NYK', 'CHO', 'PHI'], dtype=object)

In [171]:
# Players = Players.dropna()

In [172]:
# Players.to_csv('Tables/Players.csv')

In [96]:
players_to_team = pd.read_csv('Tables/Players3.csv')

In [97]:
Players_to_team = players_to_team[['player_id','team_name']]

In [98]:
Players_to_team.to_csv('Tables/Players_to_team3.csv')

In [56]:
Players_to_team = pd.read_csv('Tables/Players_to_team.csv')

In [59]:
Players_to_team = Players_to_team.drop_duplicates(subset = 'player_id')

In [61]:
Players_to_team.to_csv('Tables/Players_to_team2.csv')

## coach to team

In [187]:
coach_to_team = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2016_coaches.html')

In [190]:
coach_to_team[0].to_csv('Tables/coach_to_team.csv')

In [192]:
team_short.to_csv('Tables/team_short.csv')

In [89]:
Players = Players.drop_duplicates(subset = 'player_name')

In [92]:
Players.to_csv('Tables/Players3.csv')

In [93]:
Players

,player_id,player_name,team_name,player_position,points_per_game,height,weight,block,rebounds,assists,steals,twopoint_shot_percentage,threepoint_shot_percentage,year_start,salary
0,23312,Chris Paul,Los Angeles Clippers,PG,26.0,183,79,15,376,838,156,0.523,0.398,2006,21468695.0
1,23114,James Harden,Houston Rockets,SG,26.7,196,99,60,459,565,154,0.480,0.375,2010,15756438.0
2,23000,Stephen Curry,Golden State Warriors,PG,28.0,190,86,16,341,619,163,0.528,0.443,2010,11370786.0
3,23012,Anthony Davis,New Orleans Pelicans,PF,30.8,206,97,200,696,149,100,0.540,0.083,2013,7070730.0
4,23148,Kyrie Irving,Cleveland Cavaliers,PG,21.5,190,87,20,237,389,114,0.491,0.415,2012,16407501.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,22988,Chris Copeland,Indiana Pacers,SF,7.4,206,108,11,111,51,11,0.420,0.311,2013,1150000.0
460,23263,Elijah Millsap,Utah Jazz,SG,7.9,198,102,16,150,58,56,0.358,0.311,2015,845059.0
462,23051,Dante Exum,Utah Jazz,PG,5.7,198,86,14,131,198,41,0.408,0.314,2015,3777720.0
463,23117,Gary Harris,Denver Nuggets,SG,4.9,193,95,7,64,29,39,0.395,0.204,2015,1584480.0
465,23421,Lance Stephenson,Charlotte Hornets,SG,8.8,196,104,8,277,240,38,0.425,0.171,2011,9000000.0

## Team info

In [15]:
team = pd.read_html('https://en.wikipedia.org/wiki/National_Basketball_Association')

In [20]:
team = team[2]

In [22]:
team.to_csv('Tables/Teams.csv')

## Shot info

In [113]:
shot_all = pd.read_csv('Tables/shot.csv')

In [114]:
shot_all = shot_all.dropna()

In [120]:
Games = shot_all[['game_id','game_date','stadium_name','final_margin','winner']].drop_duplicates(subset = 'game_id')

In [122]:
Games.to_csv('Tables/Games.csv')

In [123]:
#game to team

In [126]:
Game_to_Team = shot_all[['game_id','home_team_name','away_team_name']].drop_duplicates(subset = 'game_id').set_index('game_id')

In [128]:
Game_to_Team.to_csv('Tables/Game_to_Team.csv')

In [ ]:
#Shots

In [140]:
# shot_all['shot_id'] = shot_all.apply(lambda x: str(x['game_id'])+str(x['SHOT_NUMBER']))

In [139]:
shot_all['shot_id'] = shot_all['game_id'].astype(str)+shot_all['SHOT_NUMBER'].astype(str)

In [143]:
shot = shot_all[['shot_id','shot_distance','time_clock','shot_result','quarter']].set_index('shot_id')

In [146]:
shot = shot.dropna()
shot.to_csv('Tables/Shots.csv')

In [ ]:
#shot to player

In [147]:
Shot_to_Player = shot_all[['shot_id','shooter_id','defender_id','defender_distance']]

In [149]:
Shot_to_Player.to_csv('Tables/Shot_to_Player.csv')

In [150]:
Shot_to_Game = shot_all[['shot_id','game_id']]
Shot_to_Game.to_csv('Tables/Shot_to_Game.csv')

In [46]:
shot_all['Month'] = shot_all['DATE'].apply(lambda x: x.split('-')[1])

In [62]:
shot_mar = shot_all[shot_all['Month'] == 'Mar']

In [82]:
shot_mar = shot_mar.rename(columns = {'GAME_ID':'game_id','FINAL_MARGIN':'final_margin','W':'winner'})
shot_mar.to_csv('Tables/shot.csv')

In [70]:
import datetime
shot_mar['game_date'] = pd.to_datetime(shot_mar['DATE'], format='%Y%m%d', errors='ignore')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [84]:
game_info = shot_mar[['game_id','game_date','TEAM','final_margin','LOCATION','winner']]

In [86]:
game_info = game_info.drop_duplicates(subset = 'game_id')

In [88]:
game_info.to_csv('Tables/Games.csv')